:root {
    --primary-color: #FBFCFF;
    --secondary-color: #000100;
    --accent1-color: #414288;
    --accent2-color: #009FFD;
    --heading-font: "Playfair Display", serif;
    --paragraph-font: "Lato", "Inter", sans-serif;

}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    max-width: 100%;
    margin: 0;
    padding: 4em;
    font-size: 18px;
}
main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
header h1 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    font-size: 4rem;
    font-weight: 700;
}

header img {
    width: 150px;
}


.search-bar {
    display: flex;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.search-bar input {
    flex: 1;
    padding: 12px;
    font-size: 1em;
    border: 1px solid black;
    border-right: none;
    border-radius: 6px 0 0 6px;

}

.search-bar button {
    width: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid black;
    background: white;
    border-radius: 0 6px 6px 0;
}

.search-bar button img {
    width: 24px;
    height: 24px;
}

.tag {
    display: inline-block;
    background: lightgray;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 6px;
}
.movie {
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 6px;
    padding: 1rem;
}

.movie-info h2 {
    font-family: "Amatic SC", cursive;
    font-size: 2.5rem;
    font-weight: 700; 
}
.movie-card h2 {
    color: #008cff
}
.icon-empty,
.icon-boot {
    font-size: 1.5rem;
}
.movie-info {
    display: block;

}




form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.full {
  grid-column: 1 / 3;
}

input,
select,
button {
  padding: 0.6rem;
  font: inherit;
}

button {
  background: #bcceda;
  transition: background 0.5s ease;
  margin-top: 10px;
}

button:hover {
  background: #bcceda;
}


footer {
    width: 60%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
.tag {
    display: inline-block;
    border: 1px solid grey;
    padding: 4px;
    margin-top: 0.5rem;

}

.social img {
    width: 30px;
    height: 30px
}

.social {
    order: 2;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

















@media screen and (min-width: 700px) {
    .movie {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        align-items: start;

    }
    .movie img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-link,
    .social {
        order: 0;
    }


} 

