




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
header img {
    width: 100px;
}

main {
    width: 90%;
    margin: 0 auto;
}



.search-bar {
    display: flex;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #333;
    border-right: none;
    border-radius: 6px 0 0 6px;

}

.search-bar button {
    width: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #333;
    background: white;
    border-radius: 0 6px 6px 0;
}

.search-bar button img {
    width: 24px;
    height: 24px;
}
.dessert-tag {
    display: inline-block;
    background: lightgray;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 6px;
}
.recipe-card {
    border: 1px solid #333;
    border-radius: 6px;
    padding: 1rem;
}

.recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;

}

.recipe-card h2 {
    color: #008cff
}

.recipe-info {
    display: block;

}

footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.footer-link {
    order: 1;
}

.tag {
    display: inline-block;
    border: 1px solid grey;
    padding: 4px;
    margin-top: 0.5rem;

}

.social img {
    width: 30px;
    height: 30px
}

.social {
    order: 2;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

@media screen and (min-width: 700px) {
    .recipe-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        align-items: start;

    }
    .recipe-card img {
        height: auto;
        object-fit: cover;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-link,
    .social {
        order: 0;
    }


} 
