
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header,
footer {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #437EDA;
    color: white;
    }
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
    justify-content: center;
    object-fit: cover;

    }
.gallery img {
    width: auto;
    height: auto;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
h1 {
    text-align: center;
    font-size: 3.5em;
}
main {
    flex: 1;
    width: 100%;
    background-color: lightgray;
}
section {
    padding: 1em;
    border: 1px solid #ccc;
}
h2 {
    text-align: center;
    font-size: 2.5em;
}
.navigation {
    display: none;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;

}
.navigation.show {
    display: flex;
}
nav a {
    padding: 20px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

dialog img {
    width: 80%;
    max-width: 1000px;
    max-height: 100vh;
    display: block;
    margin: 25vh auto;
    object-fit: contain;

}
dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: flex;

}
.viewer {
    position: relative;
    width: fit-content;
    max-width: 90vh;
    margin: 10vh auto;
}
.close-viewer {
    position: absolute;
    top: 20vh;
    right: 5vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

.change .menu-btn {
    background-color: transparent;
}



footer {
    text-align: center;
}

@media screen and (min-width: 830px) {
    .gallery {
        grid-template-columns: repeat(2, auto); 
    }

    nav {
        text-align: center;
    }
    nav a {
        display: block;
    }
    .navigation.show {
        display: flex;
    }
    .menu-btn {
        display: flex;
    }
}
  
@media screen and (min-width: 1190px) {
    .gallery {
        grid-template-columns: repeat(3, auto); 
    }

    .menu-btn {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav a {
    display: inline;
    }
    nav {
        text-align: center;
    }

}


